{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Каталог книжок{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'main/css/catalog.css' %}">
    <div class="text-container">
    <h1 class="title">Каталог книжок</h1>
    </div>
    <div class="catalog-content">
        <div class="product-image-container">
            <img src="{% static 'main/img/book1.jpg' %}" alt="Книжка 1">
            <h3>Повернення до кафе на краю світу</h3>
            <p>Ціна: 200 грн</p>
            <p>Автор: Джон П. Стрелекі</p>
            <p>Жанр: роман</p>
            <p>Опис: Життя Джона назавжди змінилося після того, як він заблукав і потрапив у маленьке затишне кафе...</p>
            {% if in_stock %}
                <p>Наявність: В наявності</p>
                <button>Купити</button>
            {% else %}
                <p>Наявність: Немає в наявності</p>
                <button disabled>Недоступно</button>
            {% endif %}
        </div>

        <div class="product-image-container">
            <img src="{% static 'main/img/book2.jpg' %}" alt="Книжка 2">
            <h3>Підсвідомість може все</h3>
            <p>Ціна: 140 грн</p>
            <p>Автор: Джон Кехо</p>
            <p>Жанр: наукова література</p>
            <p>Опис: Використання величезних резервів, що приховані в підсвідомості кожної людини, дозволяють...</p>
            {% if in_stock %}
                <p>Наявність: В наявності</p>
                <button>Купити</button>
            {% else %}
                <p>Наявність: Немає в наявності</p>
                <button disabled>Недоступно</button>
            {% endif %}
        </div>
    </div>
{% endblock %}