body {
    background: #2c2c2c;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
    overflow-y: auto;
}

aside .img {
    width: 350px;
    float: left;
}

aside h3 {
    margin-top: 50px;
    font-size: 23px;
}

@media screen and (max-width: 768px) {
    aside h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    aside h3 {
        font-size: 14px;
    }
}

aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
    margin-left: 25%; /* Доданий відступ для контенту */
    padding: 0 2.5%; /* Доданий відступ для контенту */
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}

.catalog-content {
    float: left;
    color: white;
    margin-top: 100px;
    text-align: center;
    width: 75%;
    margin-left: 25%; /* Доданий відступ для контенту */
    padding: 0 2.5%; /* Доданий відступ для контенту */
}

@media (max-device-width: 768px) {
  color: var(--bs-gray-800);
  background-color: var(--bs-gray-100);
  border: 1px solid var(--bs-gray-200);
  border-radius: .25rem;
}

@media (min-device-width: 1024px) {
  color: var(--bs-gray-800);
  background-color: var(--bs-gray-100);
  border: 1px solid var(--bs-gray-200);
  border-radius: .25rem;
}

@media (max-device-width: 1024px) {
  color: var(--bs-gray-800);
  background-color: var(--bs-gray-100);
  border: 1px solid var(--bs-gray-200);
  border-radius: .25rem;
}

@media (min-device-width: 768px) {
  color: var(--bs-gray-800);
  background-color: var(--bs-gray-100);
  border: 1px solid var(--bs-gray-200);
  border-radius: .25rem;
}

@media (orientation: landscape) {
    /* тут буде деякий стиль*/
}

@media (max-device-width: 1024px) {
    /* тут буде деякий стиль*/
}

@media (max-width: 767px) {
    aside {
        display: none;
    }
}